<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Starter</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include("./navbar.ejs")%>
        <%- include("./left.ejs")%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">商品数据管理</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Starter Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a href="/goods/add" class="btn btn-primary">添加商品信息</a>
                                    <div class="form-group" style="display: inline-block;width: 600px;">
                                        <div class="input-group">
                                            <input id='location' class="form-control" onclick="$('#i-file').click();">
                                            <label class="input-group-btn">
                                                <input type="button" id="i-check" value="浏览文件" class="btn btn-primary"
                                                    onclick="$('#i-file').click();">
                                                <a href="/goods/upload" class="btn btn-primary">批量添加商品信息</a>
                                            </label>
                                        </div>
                                        <input type="file" name="file" id='i-file' accept=".xls, .xlsx"
                                            onchange="$('#location').val($('#i-file').val());" style="display: none">
                                    </div>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable"
                                                role="grid" aria-describedby="example2_info">
                                                <thead>
                                                    <!-- <th>序号</th>
                                                    <th>品牌</th>
                                                    <th>LOGO</th>
                                                    <th>名称</th>
                                                    <th>图片</th>
                                                    <th>进价</th>
                                                    <th>售价</th>
                                                    <th>销量/库存</th>
                                                    <th>热门</th>
                                                    <th>操作</th> -->
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            序号

                                                        </th>

                                                        <span></span>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            品牌</th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            LOGO</th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            名称</th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            图片</th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            进价
                                                            <a href="/goods/sort?type=inPrice&d=1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↑</a>
                                                            <a href="/goods/sort?type=inPrice&d=-1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↓</a>
                                                        </th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            售价
                                                            <a href="/goods/sort?type=outPrice&d=1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↑</a>
                                                            <a href="/goods/sort?type=outPrice&d=-1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↓</a>
                                                        </th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            销量
                                                            <a href="/goods/sort?type=saleNum&d=1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↑</a>
                                                            <a href="/goods/sort?type=saleNum&d=-1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↓</a>/库存
                                                            <a href="/goods/sort?type=stock&d=1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↑</a>
                                                            <a href="/goods/sort?type=stock&d=-1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↓</a>
                                                        </th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            热门
                                                            <a href="/goods/sort?type=hot&d=1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↑</a>
                                                            <a href="/goods/sort?type=hot&d=-1&index=<%= parseInt(fenyeIndex)-5%>"
                                                                class="text-primary">↓</a>
                                                        </th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i in data){ %>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1"><%= parseInt(i)+1 %></td>
                                                        <td><%= data[i].brand%></td>
                                                        <td>
                                                            <img src="<%= data[i].logo%>" alt="">
                                                        </td>
                                                        <td><%= data[i].proName%></td>
                                                        <td style="text-align: center;">
                                                            <img src="<%= data[i].proImg%>"
                                                                style="width: 100px;height: 100px;" alt="">
                                                        </td>
                                                        <td><%= data[i].inPrice%></td>
                                                        <td><%= data[i].outPrice%></td>
                                                        <td><%= data[i].saleNum + '/' + (data[i].stock - data[i].saleNum)%>
                                                        </td>
                                                        <td><%= data[i].hot ==1 ? "是" : "否"%></td>
                                                        <td>
                                                            <a href="/goods/delete?goodId=<%=data[i].goodId%>"
                                                                class="btn btn-danger">删除</a>
                                                            <a href="/goods/update?goodId=<%=data[i].goodId%>"
                                                                class="btn btn-warning">操作</a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                                <!-- <tfoot>
                                                    <tr>
                                                        <th rowspan="1" colspan="1">Rendering engine</th>
                                                        <th rowspan="1" colspan="1">Browser</th>
                                                        <th rowspan="1" colspan="1">Platform(s)</th>
                                                        <th rowspan="1" colspan="1">Engine version</th>
                                                        <th rowspan="1" colspan="1">CSS grade</th>
                                                    </tr>
                                                </tfoot> -->
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="example2_info" role="status"
                                                aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="example2_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="example2_previous"><a
                                                            href="/goods/prev?fenyeIndex=<%= fenyeIndex%>"
                                                            aria-controls=" example2" data-dt-idx="0" tabindex="0"
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <% for(var i=0; i<fenye.length/5;i++){ %>
                                                    <li
                                                        class="paginate_button page-item <%= fenyeIndex/5==i+1?"active":"" %>">
                                                        <a href="/goods/fenyeNum?index=<%= i%>" aria-controls="example2"
                                                            data-dt-idx="<%= i-0+1%>" tabindex='0' index="<%= i %>"
                                                            class="page-link">
                                                            <%= i-0+1 %>
                                                        </a>
                                                    </li>
                                                    <% } %>

                                                    <li class="paginate_button page-item next" id="example2_next"><a
                                                            href="/goods/next?fenyeIndex=<%= fenyeIndex%>&fenye=<%= fenye.length%>"
                                                            aria-controls="example2" data-dt-idx="7" tabindex="0"
                                                            class="page-link">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include("./right.ejs")%>
        <%- include("./footer.ejs")%>
        <!-- ./wrapper -->

        <!-- REQUIRED SCRIPTS -->

        <!-- jQuery -->
        <script src="/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/dist/js/adminlte.min.js"></script>
</body>

</html>